## 《Python数据挖掘方法及应用》PyDm
### 【第1章 数据收集与分析软件】数据与练习1 
#### **（请在#下面问题的空白处写出代码并输出结果）**

---

3.1  cars数据集给出了1920年记录的汽车行驶速度speed和刹车距离dist的数据。

In [2]:
from pydataset import data    #加载PyDataset包 
cars = data('cars')           #调用pydataset包中的数据框cars
cars.head()

   speed  dist
1      4     2
2      4    10
3      7     4
4      7    22
5      8    16

In [ ]:
#(1)作speed与dist的散点图，并以此判断speed与dist之间是否大致呈线性关系。

In [ ]:
#(2)计算speed与dist的相关系数并进行假设检验。

In [ ]:
#(3)建立speed对dist的OLS回归模型，并给出常用统计量。

In [ ]:
#(4)预测当speed=30时，dist等于多少。

3.2  freeny数据集(来自PyDataset包)给出了从1962年第二季度到1971年第四季度共39条季度收入及其影响因素的数据，y代表季度收入，lag.quartely.revenue代表滞后一期的季度收入，price index为物价指数，income level为收入水平，market potential为市场潜力。

In [4]:
freeny = data('freeny')
freeny.head()

,y,lag.quarterly.revenue,price.index,income.level,market.potential
1962.25,8.79236,8.79636,4.70997,5.82110,12.9699
1962.50,8.79137,8.79236,4.70217,5.82558,12.9733
1962.75,8.81486,8.79137,4.68944,5.83112,12.9774
1963.00,8.81301,8.81486,4.68558,5.84046,12.9806
1963.25,8.90751,8.81301,4.64019,5.85036,12.9831

In [ ]:
#(1)建立一个多元回归模型，用price index、income level和market potential三个变量解释y，所有解释变量各自都是统计显著的吗？

In [ ]:
#(2)估计当price index=4.27789，income level=6.20030，market potential=13.1664时y的值。

In [ ]:
#(3)预测当price index=5，income level=7，market potential=14时y的值。

3.3 InsectSprays数据集(来自PyDataset包)给出了不同种类杀虫剂杀虫效果的数据。count为杀灭害虫的数量，spray为不同种类的杀虫剂。

In [5]:
InsectSprays = data('InsectSprays')
InsectSprays.head()

   count spray
1     10     A
2      7     A
3     20     A
4     14     A
5     14     A

In [ ]:
# 问：不同杀虫剂的杀虫效果是否不同？建立一个回归模型进行分析。

3.4 Loblolly数据集给出了松树生长的数据。height为松树的高度；age为松树的树龄；seed为松树的不同树种，它决定了松树能生长的最高高度。

In [ ]:
# (1)age是什么类型的变量？如何将它按四分位数转化为有序变量？

In [ ]:
# (2)构建height与age、seed的多元回归模型，分析树龄、树种与树高的关系。